<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basics">
	<!-- listeners for report ng -->
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener
			class-name="com.simplogics.listeners.CustomListeners" />
	</listeners>



	<test name="LoginTest">
		<classes>
			<class name="com.simplogics.testcases.LoginTest" />
		</classes>
	</test> <!-- Test -->
		<test name="Companymenu">
		<classes>
			<class name="com.simplogics.testcases.Companymenu" />
		</classes>
	</test> <!-- Test -->
		<test name="CreateCompany">
		<classes>
			<class name="com.simplogics.testcases.CreateCompany" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
